@import '/src/assets/sass/colors';

.card {

    .image {
        position: relative;

        .sold {
            position: absolute;
            bottom: 3rem;
            padding: 0.3rem 0.6rem;
            background: lighten($danger-dark, 5%);
            color: $white;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-weight: 600;
        }
    }

    .card-body {

        h5 {
            font-size: 1.5rem;

            a {
                color: $dark;
                text-decoration: none;
            }
        }
    }
}