<section class="block-services">

    <div class="container">

        <div class="ac header">
            <h1>Nuestros servicios</h1>
        </div>

        <div class="services row">

            <div class="item col-md-4">
                <div class="icon">
                    <icon name="asesoramiento" [size]="40" color="#FFF"></icon>
                </div>
                <h3>Asesoramiento</h3>
                <p>Te guiamos para que tu elección de compra sea la que mejor se adapte a tus gustos, requerimientos y capital; para que no tengas otra cosa más que disfrutar de tu inversión.</p>
                <p>
                    <a href="https://api.whatsapp.com/send/?phone=543814013209&amp;text=Hola!%20Quisiera%20contactarme%20para%20recibir%20asesoramiento%20para%20la%20adquisición%20un%20vehículo.&amp;app_absent=0" target="_blank" class="btn btn-success">
                        <icon name="whatsapp" color="#FFF" class="mr5" [size]="20"></icon>
                        Conversá con nosotros
                    </a>
                </p>
            </div>

            <div class="item col-md-4">
                <div class="icon">
                    <icon name="venta" [size]="40" color="#FFF"></icon>
                </div>
                <h3>Venta</h3>
                <p>Contamos con una gran variedad de vehículos 0Km y usados están en perfectas condiciones, con todos sus papeles en regla y listos para transferir. Sólo tendrás que subir a tu nuevo vehículo y disfrutar.</p>
                <p>
                    <a href="https://api.whatsapp.com/send/?phone=543814013209&amp;text=Hola!%20Quisiera%20contactarme%20para%20recibir%20asesoramiento%20para%20la%20adquisición%20un%20vehículo.&amp;app_absent=0" target="_blank" class="btn btn-success">
                        <icon name="whatsapp" color="#FFF" class="mr5" [size]="20"></icon>
                        Conversá con nosotros
                    </a>
                </p>
            </div>

            <div class="item col-md-4">
                <div class="icon">
                    <icon name="postventa" [size]="40" color="#FFF"></icon>
                </div>
                <h3>Postventa</h3>
                <p>Te seguimos acompañando y asistiendo en todo el proceso de cuidado, seguridad y mantenimiento posterior a la compra de tu vehículo, para que cuentes con la seguridad de estar en buenas manos.</p>
                <p>
                    <a href="https://api.whatsapp.com/send/?phone=543814013209&amp;text=Hola!%20Quisiera%20contactarme%20para%20recibir%20asesoramiento%20para%20la%20adquisición%20un%20vehículo.&amp;app_absent=0" target="_blank" class="btn btn-success">
                        <icon name="whatsapp" color="#FFF" class="mr5" [size]="20"></icon>
                        Conversá con nosotros
                    </a>
                </p>
            </div>

        </div>

    </div>

</section>