<footer class="ac">
	
	<div class="links">
		<a routerLink="/">Home</a>
		<a routerLink="/nosotros">Nosotros</a>
		<a routerLink="/productos">Productos</a>
		<a routerLink="/servicios">Servicios</a>
		<a routerLink="/multimedia">Multimedia</a>
		<a routerLink="/contacto">Contacto</a>
	</div>

	<div class="social">
        <a href="https://www.facebook.com/villarautomotores" target="_blank">
            <icon name="facebook" color="#FFF" [size]="30"></icon>
        </a>
        <a href="https://www.instagram.com/villar_automotores/" target="_blank">
            <icon name="instagram" color="#FFF" [size]="30"></icon>
        </a>
        <a href="https://www.youtube.com/channel/UC_6yBPneRvPaTK7mTniwzXQ" target="_blank">
            <icon name="youtube" color="#FFF" [size]="30"></icon>
        </a>
    </div>

</footer>