<header>

    <div class="container">

        <div class="logo">
            <a routerLink="/">
                <img src="./assets/img/logo.svg" />
            </a>
        </div>

        <nav>
            <a routerLink="/">Home</a>
            <a routerLink="/nosotros">Nosotros</a>
            <a routerLink="/productos">Productos</a>
            <a routerLink="/servicios">Servicios</a>
            <a routerLink="/multimedia">Multimedia</a>
            <a routerLink="/contacto">Contacto</a>
        </nav>

    </div>

</header>