.a-center,
.ac {
    text-align: center;
}

.a-left,
.al {
    text-align: left;
}

.a-right,
.ar {
    text-align: right;
}

.a-justify,
.aj {
    text-align: justify;
}

/* VERTICAL ALIGNMENTS ********************************* */

.va-bottom,
.vab {
    vertical-align: bottom;
}

.va-middle,
.vam {
    vertical-align: middle;
}

.va-top,
.vat {
    vertical-align: top;
}
