.lh10 {
    line-height: 10px;
}

.lh11 {
    line-height: 11px;
}

.lh12 {
    line-height: 12px;
}

.lh13 {
    line-height: 13px;
}

.lh14 {
    line-height: 14px;
}

.lh15 {
    line-height: 15px;
}

.lh16 {
    line-height: 16px;
}

.lh17 {
    line-height: 17px;
}

.lh18 {
    line-height: 18px;
}

.lh19 {
    line-height: 19px;
}

.lh20 {
    line-height: 20px;
}

.lh21 {
    line-height: 21px;
}

.lh22 {
    line-height: 22px;
}

.lh23 {
    line-height: 23px;
}

.lh24 {
    line-height: 24px;
}

.lh25 {
    line-height: 25px;
}

.lh26 {
    line-height: 26px;
}

.lh27 {
    line-height: 27px;
}

.lh28 {
    line-height: 28px;
}

.lh29 {
    line-height: 29px;
}

.lh30 {
    line-height: 30px;
}

.lh32 {
    line-height: 32px;
}

.lh34 {
    line-height: 34px;
}

.lh36 {
    line-height: 36px;
}

.lh38 {
    line-height: 38px;
}

.lh40 {
    line-height: 40px;
}

.lh42 {
    line-height: 42px;
}

.lh44 {
    line-height: 44px;
}

.lh46 {
    line-height: 46px;
}

.lh48 {
    line-height: 48px;
}

.lh50 {
    line-height: 50px;
}

.lh55 {
    line-height: 55px;
}

.lh60 {
    line-height: 60px;
}

.lh65 {
    line-height: 65px;
}

.lh70 {
    line-height: 70px;
}

.lh75 {
    line-height: 75px;
}

.lh80 {
    line-height: 80px;
}

.lh85 {
    line-height: 85px;
}

.lh90 {
    line-height: 90px;
}

.lh95 {
    line-height: 95px;
}

.lh100 {
    line-height: 100px;
}
