
.marAuto, .mx-auto, .mauto {
    margin-left: auto !important;
    margin-right: auto !important;
}

.m0 {
    margin: 0;
}

.m1 {
    margin: 1;
}

.m2 {
    margin: 2;
}

.m3 {
    margin: 3;
}

.m4 {
    margin: 4;
}

.m5 {
    margin: 5px;
}

.m10 {
    margin: 10px;
}

.m15 {
    margin: 15px;
}

.m20 {
    margin: 20px;
}

.m25 {
    margin: 25px;
}

.m30 {
    margin: 30px;
}

.m35 {
    margin: 35px;
}

.m40 {
    margin: 40px;
}

.m45 {
    margin: 45px;
}

.m50 {
    margin: 50px;
}

.m55 {
    margin: 55px;
}

.m60 {
    margin: 50px;
}

.m65 {
    margin: 65px;
}

.m70 {
    margin: 70px;
}

.m75 {
    margin: 75px;
}

.m80 {
    margin: 80px;
}

.m85 {
    margin: 85px;
}

.m90 {
    margin: 90px;
}

.m95 {
    margin: 95px;
}

.m100 {
    margin: 100px;
}

/* Margen TOP */

.mt0 {
    margin-top: 0;
}

.mt1 {
    margin-top: 1;
}

.mt2 {
    margin-top: 2;
}

.mt3 {
    margin-top: 3;
}

.mt4 {
    margin-top: 4;
}

.mt5 {
    margin-top: 5px;
}

.mt10 {
    margin-top: 10px;
}

.mt15 {
    margin-top: 15px;
}

.mt20 {
    margin-top: 20px;
}

.mt25 {
    margin-top: 25px;
}

.mt30 {
    margin-top: 30px;
}

.mt35 {
    margin-top: 35px;
}

.mt40 {
    margin-top: 40px;
}

.mt45 {
    margin-top: 45px;
}

.mt50 {
    margin-top: 50px;
}

.mt55 {
    margin-top: 55px;
}

.mt60 {
    margin-top: 50px;
}

.mt65 {
    margin-top: 65px;
}

.mt70 {
    margin-top: 70px;
}

.mt75 {
    margin-top: 75px;
}

.mt80 {
    margin-top: 80px;
}

.mt85 {
    margin-top: 85px;
}

.mt90 {
    margin-top: 90px;
}

.mt95 {
    margin-top: 95px;
}

.mt100 {
    margin-top: 100px;
}

/* Margen BOTTOM */

.mb0 {
    margin-bottom: 0;
}

.mb1 {
    margin-bottom: 1;
}

.mb2 {
    margin-bottom: 2;
}

.mb3 {
    margin-bottom: 3;
}

.mb4 {
    margin-bottom: 4;
}

.mb5 {
    margin-bottom: 5px;
}

.mb10 {
    margin-bottom: 10px;
}

.mb15 {
    margin-bottom: 15px;
}

.mb20 {
    margin-bottom: 20px;
}

.mb25 {
    margin-bottom: 25px;
}

.mb30 {
    margin-bottom: 30px;
}

.mb35 {
    margin-bottom: 35px;
}

.mb40 {
    margin-bottom: 40px;
}

.mb45 {
    margin-bottom: 45px;
}

.mb50 {
    margin-bottom: 50px;
}

.mb55 {
    margin-bottom: 55px;
}

.mb60 {
    margin-bottom: 50px;
}

.mb65 {
    margin-bottom: 65px;
}

.mb70 {
    margin-bottom: 70px;
}

.mb75 {
    margin-bottom: 75px;
}

.mb80 {
    margin-bottom: 80px;
}

.mb85 {
    margin-bottom: 85px;
}

.mb90 {
    margin-bottom: 90px;
}

.mb95 {
    margin-bottom: 95px;
}

.mb100 {
    margin-bottom: 100px;
}

/* Margen LEFT */

.ml0 {
    margin-left: 0px;
}

.ml1 {
    margin-left: 1px;
}

.ml2 {
    margin-left: 2px;
}

.ml3 {
    margin-left: 3px;
}

.ml4 {
    margin-left: 4px;
}

.ml5 {
    margin-left: 5px;
}

.ml10 {
    margin-left: 10px;
}

.ml15 {
    margin-left: 15px;
}

.ml20 {
    margin-left: 20px;
}

.ml25 {
    margin-left: 25px;
}

.ml30 {
    margin-left: 30px;
}

.ml35 {
    margin-left: 35px;
}

.ml40 {
    margin-left: 40px;
}

.ml45 {
    margin-left: 45px;
}

.ml50 {
    margin-left: 50px;
}

.ml55 {
    margin-left: 55px;
}

.ml60 {
    margin-left: 50px;
}

.ml65 {
    margin-left: 65px;
}

.ml70 {
    margin-left: 70px;
}

.ml75 {
    margin-left: 75px;
}

.ml80 {
    margin-left: 80px;
}

.ml85 {
    margin-left: 85px;
}

.ml90 {
    margin-left: 90px;
}

.ml95 {
    margin-left: 95px;
}

.ml100 {
    margin-left: 100px;
}

/* Margen RIGHT */

.mr0 {
    margin-right: 0px;
}

.mr1 {
    margin-right: 1px;
}

.mr2 {
    margin-right: 2px;
}

.mr3 {
    margin-right: 3px;
}

.mr4 {
    margin-right: 4px;
}

.mr5 {
    margin-right: 5px;
}

.mr10 {
    margin-right: 10px;
}

.mr15 {
    margin-right: 15px;
}

.mr20 {
    margin-right: 20px;
}

.mr25 {
    margin-right: 25px;
}

.mr30 {
    margin-right: 30px;
}

.mr35 {
    margin-right: 35px;
}

.mr40 {
    margin-right: 40px;
}

.mr45 {
    margin-right: 45px;
}

.mr50 {
    margin-right: 50px;
}

.mr55 {
    margin-right: 55px;
}

.mr60 {
    margin-right: 50px;
}

.mr65 {
    margin-right: 65px;
}

.mr70 {
    margin-right: 70px;
}

.mr75 {
    margin-right: 75px;
}

.mr80 {
    margin-right: 80px;
}

.mr85 {
    margin-right: 85px;
}

.mr90 {
    margin-right: 90px;
}

.mr95 {
    margin-right: 95px;
}

.mr100 {
    margin-right: 100px;
}

/* Margen TOP-BOTTOM */

.my0 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.my1 {
    margin-top: 1px;
    margin-bottom: 1px;
}

.my2 {
    margin-top: 2px;
    margin-bottom: 2px;
}

.my3 {
    margin-top: 3px;
    margin-bottom: 3px;
}

.my4 {
    margin-top: 4px;
    margin-bottom: 4px;
}

.my5 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.my10 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.my15 {
    margin-top: 15px;
    margin-bottom: 15px;
}

.my20 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.my25 {
    margin-top: 25px;
    margin-bottom: 25px;
}

.my30 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.my35 {
    margin-top: 35px;
    margin-bottom: 35px;
}

.my40 {
    margin-top: 40px;
    margin-bottom: 40px;
}

.my45 {
    margin-top: 45px;
    margin-bottom: 45px;
}

.my50 {
    margin-top: 50px;
    margin-bottom: 50px;
}

.my55 {
    margin-top: 55px;
    margin-bottom: 55px;
}

.my60 {
    margin-top: 50px;
    margin-bottom: 50px;
}

.my65 {
    margin-top: 65px;
    margin-bottom: 65px;
}

.my70 {
    margin-top: 70px;
    margin-bottom: 70px;
}

.my75 {
    margin-top: 75px;
    margin-bottom: 75px;
}

.my80 {
    margin-top: 80px;
    margin-bottom: 80px;
}

.my85 {
    margin-top: 85px;
    margin-bottom: 85px;
}

.my90 {
    margin-top: 90px;
    margin-bottom: 90px;
}

.my95 {
    margin-top: 95px;
    margin-bottom: 95px;
}

.my100 {
    margin-top: 100px;
    margin-bottom: 100px;
}

/* Margen LEFT-RIGHT */

.mx0 {
    margin-left: 0px;
    margin-right: 0px;
}

.mx1 {
    margin-left: 1px;
    margin-right: 1px;
}

.mx2 {
    margin-left: 2px;
    margin-right: 2px;
}

.mx3 {
    margin-left: 3px;
    margin-right: 3px;
}

.mx4 {
    margin-left: 4px;
    margin-right: 4px;
}

.mx5 {
    margin-left: 5px;
    margin-right: 5px;
}

.mx10 {
    margin-left: 10px;
    margin-right: 10px;
}

.mx15 {
    margin-left: 15px;
    margin-right: 15px;
}

.mx20 {
    margin-left: 20px;
    margin-right: 20px;
}

.mx25 {
    margin-left: 25px;
    margin-right: 25px;
}

.mx30 {
    margin-left: 30px;
    margin-right: 30px;
}

.mx35 {
    margin-left: 35px;
    margin-right: 35px;
}

.mx40 {
    margin-left: 40px;
    margin-right: 40px;
}

.mx45 {
    margin-left: 45px;
    margin-right: 45px;
}

.mx50 {
    margin-left: 50px;
    margin-right: 50px;
}

.mx55 {
    margin-left: 55px;
    margin-right: 55px;
}

.mx60 {
    margin-left: 50px;
    margin-right: 50px;
}

.mx65 {
    margin-left: 65px;
    margin-right: 65px;
}

.mx70 {
    margin-left: 70px;
    margin-right: 70px;
}

.mx75 {
    margin-left: 75px;
    margin-right: 75px;
}

.mx80 {
    margin-left: 80px;
    margin-right: 80px;
}

.mx85 {
    margin-left: 85px;
    margin-right: 85px;
}

.mx90 {
    margin-left: 90px;
    margin-right: 90px;
}

.mx95 {
    margin-left: 95px;
    margin-right: 95px;
}

.mx100 {
    margin-left: 100px;
    margin-right: 100px;
}


// IMPORTANT

.m0i {
    margin: 0 !important;
}

.m5i {
    margin: 5px !important;
}

.m10i {
    margin: 10px !important;
}

.m15i {
    margin: 15px !important;
}

.m20i {
    margin: 20px !important;
}

.m25i {
    margin: 25px !important;
}

.m30i {
    margin: 30px !important;
}

.m35i {
    margin: 35px !important;
}

.m40i {
    margin: 40px !important;
}

.m45i {
    margin: 45px !important;
}

.m50i {
    margin: 50px !important;
}

.m55i {
    margin: 55px !important;
}

.m60i {
    margin: 50px !important;
}

.m65i {
    margin: 65px !important;
}

.m70i {
    margin: 70px !important;
}

.m75i {
    margin: 75px !important;
}

.m80i {
    margin: 80px !important;
}

.m85i {
    margin: 85px !important;
}

.m90i {
    margin: 90px !important;
}

.m95i {
    margin: 95px !important;
}

.m100i {
    margin: 100px !important;
}

/* Margen TOP */

.mt0i {
    margin-top: 0 !important;
}

.mt5i {
    margin-top: 5px !important;
}

.mt10i {
    margin-top: 10px !important;
}

.mt15i {
    margin-top: 15px !important;
}

.mt20i {
    margin-top: 20px !important;
}

.mt25i {
    margin-top: 25px !important;
}

.mt30i {
    margin-top: 30px !important;
}

.mt35i {
    margin-top: 35px !important;
}

.mt40i {
    margin-top: 40px !important;
}

.mt45i {
    margin-top: 45px !important;
}

.mt50i {
    margin-top: 50px !important;
}

.mt55i {
    margin-top: 55px !important;
}

.mt60i {
    margin-top: 50px !important;
}

.mt65i {
    margin-top: 65px !important;
}

.mt70i {
    margin-top: 70px !important;
}

.mt75i {
    margin-top: 75px !important;
}

.mt80i {
    margin-top: 80px !important;
}

.mt85i {
    margin-top: 85px !important;
}

.mt90i {
    margin-top: 90px !important;
}

.mt95i {
    margin-top: 95px !important;
}

.mt100i {
    margin-top: 100px !important;
}

/* Margen BOTTOM */

.mb0i {
    margin-bottom: 0 !important;
}

.mb5i {
    margin-bottom: 5px !important;
}

.mb10i {
    margin-bottom: 10px !important;
}

.mb15i {
    margin-bottom: 15px !important;
}

.mb20i {
    margin-bottom: 20px !important;
}

.mb25i {
    margin-bottom: 25px !important;
}

.mb30i {
    margin-bottom: 30px !important;
}

.mb35i {
    margin-bottom: 35px !important;
}

.mb40i {
    margin-bottom: 40px !important;
}

.mb45i {
    margin-bottom: 45px !important;
}

.mb50i {
    margin-bottom: 50px !important;
}

.mb55i {
    margin-bottom: 55px !important;
}

.mb60i {
    margin-bottom: 50px !important;
}

.mb65i {
    margin-bottom: 65px !important;
}

.mb70i {
    margin-bottom: 70px !important;
}

.mb75i {
    margin-bottom: 75px !important;
}

.mb80i {
    margin-bottom: 80px !important;
}

.mb85i {
    margin-bottom: 85px !important;
}

.mb90i {
    margin-bottom: 90px !important;
}

.mb95i {
    margin-bottom: 95px !important;
}

.mb100i {
    margin-bottom: 100px !important;
}

/* Margen LEFT */

.ml0i {
    margin-left: 0px !important;
}

.ml5i {
    margin-left: 5px !important;
}

.ml10i {
    margin-left: 10px !important;
}

.ml15i {
    margin-left: 15px !important;
}

.ml20i {
    margin-left: 20px !important;
}

.ml25i {
    margin-left: 25px !important;
}

.ml30i {
    margin-left: 30px !important;
}

.ml35i {
    margin-left: 35px !important;
}

.ml40i {
    margin-left: 40px !important;
}

.ml45i {
    margin-left: 45px !important;
}

.ml50i {
    margin-left: 50px !important;
}

.ml55i {
    margin-left: 55px !important;
}

.ml60i {
    margin-left: 50px !important;
}

.ml65i {
    margin-left: 65px !important;
}

.ml70i {
    margin-left: 70px !important;
}

.ml75i {
    margin-left: 75px !important;
}

.ml80i {
    margin-left: 80px !important;
}

.ml85i {
    margin-left: 85px !important;
}

.ml90i {
    margin-left: 90px !important;
}

.ml95i {
    margin-left: 95px !important;
}

.ml100i {
    margin-left: 100px !important;
}

/* Margen RIGHT */

.mr0i {
    margin-right: 0px !important;
}

.mr5i {
    margin-right: 5px !important;
}

.mr10i {
    margin-right: 10px !important;
}

.mr15i {
    margin-right: 15px !important;
}

.mr20i {
    margin-right: 20px !important;
}

.mr25i {
    margin-right: 25px !important;
}

.mr30i {
    margin-right: 30px !important;
}

.mr35i {
    margin-right: 35px !important;
}

.mr40i {
    margin-right: 40px !important;
}

.mr45i {
    margin-right: 45px !important;
}

.mr50i {
    margin-right: 50px !important;
}

.mr55i {
    margin-right: 55px !important;
}

.mr60i {
    margin-right: 50px !important;
}

.mr65i {
    margin-right: 65px !important;
}

.mr70i {
    margin-right: 70px !important;
}

.mr75i {
    margin-right: 75px !important;
}

.mr80i {
    margin-right: 80px !important;
}

.mr85i {
    margin-right: 85px !important;
}

.mr90i {
    margin-right: 90px !important;
}

.mr95i {
    margin-right: 95px !important;
}

.mr100i {
    margin-right: 100px !important;
}

/* Margen TOP-BOTTOM */

.my0i {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.my5i {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}

.my10i {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.my15i {
    margin-top: 15px !important;
    margin-bottom: 15px !important;
}

.my20i {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}

.my25i {
    margin-top: 25px !important;
    margin-bottom: 25px !important;
}

.my30i {
    margin-top: 30px !important;
    margin-bottom: 30px !important;
}

.my35i {
    margin-top: 35px !important;
    margin-bottom: 35px !important;
}

.my40i {
    margin-top: 40px !important;
    margin-bottom: 40px !important;
}

.my45i {
    margin-top: 45px !important;
    margin-bottom: 45px !important;
}

.my50i {
    margin-top: 50px !important;
    margin-bottom: 50px !important;
}

.my55i {
    margin-top: 55px !important;
    margin-bottom: 55px !important;
}

.my60i {
    margin-top: 50px !important;
    margin-bottom: 50px !important;
}

.my65i {
    margin-top: 65px !important;
    margin-bottom: 65px !important;
}

.my70i {
    margin-top: 70px !important;
    margin-bottom: 70px !important;
}

.my75i {
    margin-top: 75px !important;
    margin-bottom: 75px !important;
}

.my80i {
    margin-top: 80px !important;
    margin-bottom: 80px !important;
}

.my85i {
    margin-top: 85px !important;
    margin-bottom: 85px !important;
}

.my90i {
    margin-top: 90px !important;
    margin-bottom: 90px !important;
}

.my95i {
    margin-top: 95px !important;
    margin-bottom: 95px !important;
}

.my100i {
    margin-top: 100px !important;
    margin-bottom: 100px !important;
}

/* Margen LEFT-RIGHT */

.mx0i {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.mx5i {
    margin-left: 5px !important;
    margin-right: 5px !important;
}

.mx10i {
    margin-left: 10px !important;
    margin-right: 10px !important;
}

.mx15i {
    margin-left: 15px !important;
    margin-right: 15px !important;
}

.mx20i {
    margin-left: 20px !important;
    margin-right: 20px !important;
}

.mx25i {
    margin-left: 25px !important;
    margin-right: 25px !important;
}

.mx30i {
    margin-left: 30px !important;
    margin-right: 30px !important;
}

.mx35i {
    margin-left: 35px !important;
    margin-right: 35px !important;
}

.mx40i {
    margin-left: 40px !important;
    margin-right: 40px !important;
}

.mx45i {
    margin-left: 45px !important;
    margin-right: 45px !important;
}

.mx50i {
    margin-left: 50px !important;
    margin-right: 50px !important;
}

.mx55i {
    margin-left: 55px !important;
    margin-right: 55px !important;
}

.mx60i {
    margin-left: 50px !important;
    margin-right: 50px !important;
}

.mx65i {
    margin-left: 65px !important;
    margin-right: 65px !important;
}

.mx70i {
    margin-left: 70px !important;
    margin-right: 70px !important;
}

.mx75i {
    margin-left: 75px !important;
    margin-right: 75px !important;
}

.mx80i {
    margin-left: 80px !important;
    margin-right: 80px !important;
}

.mx85i {
    margin-left: 85px !important;
    margin-right: 85px !important;
}

.mx90i {
    margin-left: 90px !important;
    margin-right: 90px !important;
}

.mx95i {
    margin-left: 95px !important;
    margin-right: 95px !important;
}

.mx100i {
    margin-left: 100px !important;
    margin-right: 100px !important;
}