
.p0 {
    padding: 0;
}

.p1 {
    padding: 1;
}

.p2 {
    padding: 2;
}

.p3 {
    padding: 3;
}

.p4 {
    padding: 4;
}

.p5 {
    padding: 5px;
}

.p10 {
    padding: 10px;
}

.p15 {
    padding: 15px;
}

.p20 {
    padding: 20px;
}

.p25 {
    padding: 25px;
}

.p30 {
    padding: 30px;
}

.p35 {
    padding: 35px;
}

.p40 {
    padding: 40px;
}

.p45 {
    padding: 45px;
}

.p50 {
    padding: 50px;
}

.p55 {
    padding: 55px;
}

.p60 {
    padding: 50px;
}

.p65 {
    padding: 65px;
}

.p70 {
    padding: 70px;
}

.p75 {
    padding: 75px;
}

.p80 {
    padding: 80px;
}

.p85 {
    padding: 85px;
}

.p90 {
    padding: 90px;
}

.p95 {
    padding: 95px;
}

.p100 {
    padding: 100px;
}

/* Padding TOP */

.pt0 {
    padding-top: 0;
}

.pt1 {
    padding-top: 1;
}

.pt2 {
    padding-top: 2;
}

.pt3 {
    padding-top: 3;
}

.pt4 {
    padding-top: 4;
}

.pt5 {
    padding-top: 5px;
}

.pt10 {
    padding-top: 10px;
}

.pt15 {
    padding-top: 15px;
}

.pt20 {
    padding-top: 20px;
}

.pt25 {
    padding-top: 25px;
}

.pt30 {
    padding-top: 30px;
}

.pt35 {
    padding-top: 35px;
}

.pt40 {
    padding-top: 40px;
}

.pt45 {
    padding-top: 45px;
}

.pt50 {
    padding-top: 50px;
}

.pt55 {
    padding-top: 55px;
}

.pt60 {
    padding-top: 60px;
}

.pt65 {
    padding-top: 65px;
}

.pt70 {
    padding-top: 70px;
}

.pt75 {
    padding-top: 75px;
}

.pt80 {
    padding-top: 80px;
}

.pt85 {
    padding-top: 85px;
}

.pt90 {
    padding-top: 90px;
}

.pt95 {
    padding-top: 95px;
}

.pt100 {
    padding-top: 100px;
}

/* Padding BOTTOM */

.pb0 {
    padding-bottom: 0;
}

.pb1 {
    padding-bottom: 1;
}

.pb2 {
    padding-bottom: 2;
}

.pb3 {
    padding-bottom: 3;
}

.pb4 {
    padding-bottom: 4;
}

.pb5 {
    padding-bottom: 5px;
}

.pb10 {
    padding-bottom: 10px;
}

.pb15 {
    padding-bottom: 15px;
}

.pb20 {
    padding-bottom: 20px;
}

.pb25 {
    padding-bottom: 25px;
}

.pb30 {
    padding-bottom: 30px;
}

.pb35 {
    padding-bottom: 35px;
}

.pb40 {
    padding-bottom: 40px;
}

.pb45 {
    padding-bottom: 45px;
}

.pb50 {
    padding-bottom: 50px;
}

.pb55 {
    padding-bottom: 55px;
}

.pb60 {
    padding-bottom: 50px;
}

.pb65 {
    padding-bottom: 65px;
}

.pb70 {
    padding-bottom: 70px;
}

.pb75 {
    padding-bottom: 75px;
}

.pb80 {
    padding-bottom: 80px;
}

.pb85 {
    padding-bottom: 85px;
}

.pb90 {
    padding-bottom: 90px;
}

.pb95 {
    padding-bottom: 95px;
}

.pb100 {
    padding-bottom: 100px;
}

/* Padding LEFT */

.pl0 {
    padding-left: 0px;
}

.pl1 {
    padding-left: 1px;
}

.pl2 {
    padding-left: 2px;
}

.pl3 {
    padding-left: 3px;
}

.pl4 {
    padding-left: 4px;
}

.pl5 {
    padding-left: 5px;
}

.pl10 {
    padding-left: 10px;
}

.pl15 {
    padding-left: 15px;
}

.pl20 {
    padding-left: 20px;
}

.pl25 {
    padding-left: 25px;
}

.pl30 {
    padding-left: 30px;
}

.pl35 {
    padding-left: 35px;
}

.pl40 {
    padding-left: 40px;
}

.pl45 {
    padding-left: 45px;
}

.pl50 {
    padding-left: 50px;
}

.pl55 {
    padding-left: 55px;
}

.pl60 {
    padding-left: 50px;
}

.pl65 {
    padding-left: 65px;
}

.pl70 {
    padding-left: 70px;
}

.pl75 {
    padding-left: 75px;
}

.pl80 {
    padding-left: 80px;
}

.pl85 {
    padding-left: 85px;
}

.pl90 {
    padding-left: 90px;
}

.pl95 {
    padding-left: 95px;
}

.pl100 {
    padding-left: 100px;
}

/* Padding RIGHT */

.pr0 {
    padding-right: 0px;
}

.pr1 {
    padding-right: 1px;
}

.pr2 {
    padding-right: 2px;
}

.pr3 {
    padding-right: 3px;
}

.pr4 {
    padding-right: 4px;
}

.pr5 {
    padding-right: 5px;
}

.pr10 {
    padding-right: 10px;
}

.pr15 {
    padding-right: 15px;
}

.pr20 {
    padding-right: 20px;
}

.pr25 {
    padding-right: 25px;
}

.pr30 {
    padding-right: 30px;
}

.pr35 {
    padding-right: 35px;
}

.pr40 {
    padding-right: 40px;
}

.pr45 {
    padding-right: 45px;
}

.pr50 {
    padding-right: 50px;
}

.pr55 {
    padding-right: 55px;
}

.pr60 {
    padding-right: 50px;
}

.pr65 {
    padding-right: 65px;
}

.pr70 {
    padding-right: 70px;
}

.pr75 {
    padding-right: 75px;
}

.pr80 {
    padding-right: 80px;
}

.pr85 {
    padding-right: 85px;
}

.pr90 {
    padding-right: 90px;
}

.pr95 {
    padding-right: 95px;
}

.pr100 {
    padding-right: 100px;
}

/* Padding TOP-BOTTOM */

.py0 {
    padding-top: 0px;
    padding-bottom: 0px;
}

.py1 {
    padding-top: 1px;
    padding-bottom: 1px;
}

.py2 {
    padding-top: 2px;
    padding-bottom: 2px;
}

.py3 {
    padding-top: 3px;
    padding-bottom: 3px;
}

.py4 {
    padding-top: 4px;
    padding-bottom: 4px;
}

.py5 {
    padding-top: 5px;
    padding-bottom: 5px;
}

.py10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.py15 {
    padding-top: 15px;
    padding-bottom: 15px;
}

.py20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.py25 {
    padding-top: 25px;
    padding-bottom: 25px;
}

.py30 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.py35 {
    padding-top: 35px;
    padding-bottom: 35px;
}

.py40 {
    padding-top: 40px;
    padding-bottom: 40px;
}

.py45 {
    padding-top: 45px;
    padding-bottom: 45px;
}

.py50 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.py55 {
    padding-top: 55px;
    padding-bottom: 55px;
}

.py60 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.py65 {
    padding-top: 65px;
    padding-bottom: 65px;
}

.py70 {
    padding-top: 70px;
    padding-bottom: 70px;
}

.py75 {
    padding-top: 75px;
    padding-bottom: 75px;
}

.py80 {
    padding-top: 80px;
    padding-bottom: 80px;
}

.py85 {
    padding-top: 85px;
    padding-bottom: 85px;
}

.py90 {
    padding-top: 90px;
    padding-bottom: 90px;
}

.py95 {
    padding-top: 95px;
    padding-bottom: 95px;
}

.py100 {
    padding-top: 100px;
    padding-bottom: 100px;
}

/* Padding LEFT-RIGHT */

.px0 {
    padding-left: 0px;
    padding-right: 0px;
}

.px1 {
    padding-left: 1px;
    padding-right: 1px;
}

.px2 {
    padding-left: 2px;
    padding-right: 2px;
}

.px3 {
    padding-left: 3px;
    padding-right: 3px;
}

.px4 {
    padding-left: 4px;
    padding-right: 4px;
}

.px5 {
    padding-left: 5px;
    padding-right: 5px;
}

.px10 {
    padding-left: 10px;
    padding-right: 10px;
}

.px15 {
    padding-left: 15px;
    padding-right: 15px;
}

.px20 {
    padding-left: 20px;
    padding-right: 20px;
}

.px25 {
    padding-left: 25px;
    padding-right: 25px;
}

.px30 {
    padding-left: 30px;
    padding-right: 30px;
}

.px35 {
    padding-left: 35px;
    padding-right: 35px;
}

.px40 {
    padding-left: 40px;
    padding-right: 40px;
}

.px45 {
    padding-left: 45px;
    padding-right: 45px;
}

.px50 {
    padding-left: 50px;
    padding-right: 50px;
}

.px55 {
    padding-left: 55px;
    padding-right: 55px;
}

.px60 {
    padding-left: 50px;
    padding-right: 50px;
}

.px65 {
    padding-left: 65px;
    padding-right: 65px;
}

.px70 {
    padding-left: 70px;
    padding-right: 70px;
}

.px75 {
    padding-left: 75px;
    padding-right: 75px;
}

.px80 {
    padding-left: 80px;
    padding-right: 80px;
}

.px85 {
    padding-left: 85px;
    padding-right: 85px;
}

.px90 {
    padding-left: 90px;
    padding-right: 90px;
}

.px95 {
    padding-left: 95px;
    padding-right: 95px;
}

.px100 {
    padding-left: 100px;
    padding-right: 100px;
}