
$white: #FFF;
$black: #111;
$blue: #014a92;
$green: #39A2AE;
$greenDark: #32909A;

$dark: #282928;


// Bootstrap

$primary: #2C60B5;
$primary-dark: #142C52;
$primary-hover: #214682;

$secondary: #606261;
$secondary-dark: #282928;
$secondary-hover: #474847;

$info: #91D0F3;
$info-dark: #23A2E7;
$info-hover: #5AB9ED;

$danger: #EE6055;
$danger-dark: #BA1E12;
$danger-hover: #E92E20;

$warning: #FFD166;
$warning-dark: #F5AB00;
$warning-hover: #FFC233;

$success: #06D6A0;
$success-dark: #03634A;
$success-hover: #049F76;

// Grises

$white: #FFF;
$black: #000;

$gray5: rgba(0, 0, 0, 0.05);
$gray10: rgba(0, 0, 0, 0.1);
$gray20: rgba(0, 0, 0, 0.2);
$gray30: rgba(0, 0, 0, 0.3);
$gray40: rgba(0, 0, 0, 0.4);
$gray50: rgba(0, 0, 0, 0.5);
$gray60: rgba(0, 0, 0, 0.6);
$gray70: rgba(0, 0, 0, 0.7);
$gray80: rgba(0, 0, 0, 0.8);
$gray90: rgba(0, 0, 0, 0.9);